# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch

# IDEA
.idea/
*.iml
*.ipr
*.iws

# Code
.settings/
.vscode/
bin/
.classpath
.project

# macOS
*.DS_Store

# Fabric
run/.mixin.out
run/config
run/crash-reports
run/logs
run/mods
run/resourcepacks
run/saves
run/usercache.json
